<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about">
          <h1 class="about-title">About</h1>
            <p class="about-comment">ながのCakeは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひ、ご注文ください。
          </p>
          <div class="about-image"></div>
        </div>
      </div>
    </div>
  </div>
</main>