<main>
  <p>
    ようこそ、NaganoCakeへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
  </p>
  
  <h1>新着商品</h>
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <%= image_tag item.get_image(100,100) %>
    <% end %>
    <%= item.name %>
    <%= item.add_tax_price.to_s(:delimited) %>
    
  <% end %>
</main>